{% extends 'layout.html.twig' %}

{% block content %}
    <div class="pt-14 bg-primary-600 relative md:hidden" id="top">
        <div class="mx-auto max-w-5xl px-6 py-24 sm:py-32 lg:px-8 lg:py-20">
            <div class="mx-auto lg:mx-0 text-center">
                <h1 class="mt-10 text-white">
                    Kontaktieren Sie uns heute
                </h1>
                <p class="mt-6 text-white">
                    Esse id magna consectetur fugiat non dolor in ad laboris
                    magna laborum ea consequat. Nisi irure aliquip nisi adipisicing veniam voluptate id.
                </p>
            </div>
        </div>
    </div>
    <div class="pt-14 hidden md:block" id="top">
    </div>
{% endblock %}
