{% extends 'layout.html.twig' %}

{% block content %}
    <div class="pt-14 bg-primary-600 relative">
        <div class="text-center mx-auto max-w-7xl px-6 py-32">
            <h1 class="mt-10 text-white">
                Datenschutzerklärung der Lohnio GmbH
            </h1>
            <p class="mt-6 text-white">
                Stand 20.01.2024
            </p>
        </div>
    </div>

    <article class="mx-auto py-5 text-gray-500 px-4 prose prose-lg prose-primary">
        <p>Lohnio ist eine Marke der Lohnio GmbH. Diese Datenschutzerklärung regelt nur die Nutzung personenbezogener Daten auf
            unserer Website www.lohnio.de. Wenn Sie unsere Website über einen Link verlassen oder unsere Präsenz auf einer
            Social-Media-Plattform besuchen, verlassen Sie auch den Anwendungsbereich dieser Datenschutzerklärung.</p>
        <p><strong>I. Kontaktinformationen</strong></p>
        <p>Verantwortlicher für die Datenverarbeitung im Rahmen dieser Website im Sinne der Datenschutz-Grundverordnung (DSGVO)
            ist:</p>
        <p>Lohnio GmbH</p>
        <p>vertreten durch den Geschäftsführer: Max Mustermann</p>
        <p>Musterstraße 1</p>
        <p>12346 Musterstadt</p>
        <p>E-Mail: info@lohnio.de</p>
        <p>Unseren Datenschutzbeauftragten erreichen Sie unter: datenschutz@lohnio.de</p>
        <p><strong>II. Allgemeines zur Datenverarbeitung</strong></p>
        <p><strong>1. Umfang der Verarbeitung personenbezogener Daten</strong></p>
        <p>Die Bereitstellung der Website macht die Verarbeitung verschiedener Informationen erforderlich. Darüber hinaus richtet
            sich der Umfang der Datenverarbeitung nach Ihrer Nutzung der Funktionalitäten der Website, beispielsweise wenn Sie über
            das Kontaktformular mit uns kommunizieren oder in die Verarbeitung von Daten einwilligen.</p>
        <p>Sie sind nicht verpflichtet, uns personenbezogene Daten bereitzustellen. Soweit die Bereitstellung dieser Daten aber
            technisch zwingend mit dem Aufruf unserer Seite verbunden ist, führt eine Weigerung dazu, dass Sie unsere Website nicht
            betreten und nutzen können.</p>
        <p>Als Besucher unserer Websites unterliegen Sie keiner automatisierten Entscheidungsfindung im Sinne von Art. 22 DSGVO.</p>
        <p><strong>2. Rechtsgrundlage für die Verarbeitung personenbezogener Daten</strong></p>
        <p>Die Rechtsgrundlagen für die Verarbeitung personenbezogener Daten werden nachfolgend dargestellt.</p>
        <p><strong>Verarbeitungsgrund</strong></p>
        <p>Berechtigtes Interesse</p>
        <p><strong>Rechtsgrundlage</strong></p>
        <p>Art. 6 Abs. 1 b) DSGVO</p>
        <p><strong>Erläuterung</strong></p>
        <p>Eine Verarbeitung erfolgt nur in dem Umfang, der für die Wahrnehmung und Erfüllung der Rechte und Pflichten aus dem
            Vertrag erforderlich ist. Soweit nicht ausdrücklich anders dargestellt, erfolgt die Datenverarbeitung durch uns nur in
            diesem Umfang.</p>
        <p><strong>Verarbeitungsgrund</strong></p>
        <p>Vertragserfüllung oder Durchführung vorvertraglicher Maßnahmen</p>
        <p><strong>Rechtsgrundlage</strong></p>
        <p>Art. 6 Abs. 1 f) DSGVO</p>
        <p><strong>Erläuterung</strong></p>
        <p>Eine Verarbeitung erfolgt, soweit wir ein berechtigtes Interesse haben und keine entgegenstehenden überwiegenden
            Interessen des Betroffenen ersichtlich sind. Das konkrete Interesse wird in dieser Datenschutzerklärung im Rahmen der
            Verarbeitungsdarstellung erläutert.</p>
        <p><strong>Verarbeitungsgrund</strong></p>
        <p>Einwilligung</p>
        <p><strong>Rechtsgrundlage</strong></p>
        <p>Art. 6 Abs. 1 a) DSGVO</p>
        <p><strong>Erläuterung</strong></p>
        <p>Eine Verarbeitung erfolgt, soweit Sie hierzu ausdrücklich der Art und dem Umfang der Datenverarbeitung zugestimmt haben.
            Ihre Einwilligung können Sie jederzeit mit Wirkung für die Zukunft widerrufen. Die bis zu diesem Zeitpunkt erfolgte
            Verarbeitung wird davon aber nicht betroffen.</p>
        <p><strong>Verarbeitungsgrund</strong></p>
        <p>Rechtliche Pflicht</p>
        <p><strong>Rechtsgrundlage</strong></p>
        <p>Art. 6 Abs. 1 c) DSGVO</p>
        <p><strong>Erläuterung</strong></p>
        <p>Eine Verarbeitung erfolgt, soweit dies zur Erfüllung deutscher oder europäischer gesetzlicher Pflichten erforderlich
            ist.</p>
        <p><strong>3. Datenlöschung und Speicherdauer</strong></p>
        <p>Wir löschen Ihre personenbezogenen Daten, sobald die Rechtsgrundlage für deren Verarbeitung entfällt. Teilweise können
            Rechtsgrundlagen aber auch parallel bestehen bzw. kann mit Wegfall einer Rechtsgrundlage eine neue eingreifen, wie
            beispielsweise die Pflicht bestimmte Daten zur Erfüllung einer gesetzlichen Aufbewahrungspflicht zu speichern.</p>
        <p><strong>III. Datenverarbeitung für Bereitstellung der Website</strong></p>
        <p>Damit wir Ihnen die Website anzeigen können, ist es erforderlich, bestimmte Informationen zu verarbeiten. Dies erfolgt
            bereits, wenn Sie unsere Website aufrufen. Zudem bieten wir auf unserer Website verschiedene Funktionalitäten an, die
            eine weitergehende Datenverarbeitung erforderlich machen.</p>
        <ul>
            <li>Beim Aufruf unserer Website sendet Ihr Browser verschiedene Informationen an unseren Server. Diese benötigen wir zum
                Aufbau und Erhalt der Verbindung. Unter den Daten ist auch Ihre IP-Adresse, die wir als personenbezogenes Datum
                behandeln. Die Verarbeitung dieser Daten erfolgt auf Grundlage unseres berechtigten Interesses an der Bereitstellung
                unserer Website zu Information über unsere Leistungen und aktuelle Themen aus unseren Tätigkeitsbereichen.</li>
        </ul>
        <p><strong>1. Technisch bedingte Cookies</strong></p>
        <p>Zum Aufbau und Erhalt der Verbindung setzen wir Cookies ein. Ein Cookie ist eine kleine Textdatei mit Informationen, die
            durch Deinen Browser übermittelt und auf Deinem Rechner gespeichert wird. Diese Cookies beinhalten keine persönlichen
            Daten. Du kannst die Verwendung von Cookies auch in Deinem Browser steuern und Cookies selbst jederzeit löschen. Cookies
            können erforderlich für die Verbindungsherstellung bzw. die Verbesserung der Nutzung der Website sein.</p>
        <p>Du kannst die Speicherung der Cookies durch eine entsprechende Einstellung Deiner Browser-Software verhindern; wir
            weisen Dich jedoch darauf hin, dass Du in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website
            vollumfänglich wirst nutzen können.</p>
        <p>Der Einsatz technisch bedingter Cookies und die damit verbundene Datenverarbeitung erfolgt aufgrund unseres berechtigten
            Interesses an einer technisch einwandfreien und komfortablen Nutzungsmöglichkeit unserer Website. Technisch bedingte
            Cookies werden in der Regel beim Schließen Deines Browsers automatisch gelöscht (Session-Cookies), in anderen Fällen
            erst nach einiger Zeit (Persistent-Cookies). Die Speicherdauer von Persistent-Cookies wird vom Anbieter bestimmt und
            kann von Dir beispielsweise in Deinem Browser eingesehen werden.</p>
        <p><strong>2. Kontaktaufnahme über Kontaktformular und elektronischer Post</strong></p>
        <p>Über das Kontaktformular unserer Website können Sie uns jederzeit eine Anfrage senden. Dabei werden folgende
            Informationen abgefragt: Name, E-Mail-Adresse und Ihre Nachricht. Die Angaben sind als Pflichtfelder gekennzeichnet.
            Alle weiteren Daten, die Sie uns im Rahmen der Anfrage übermitteln, auch über das Freitextfeld, erfolgen freiwillig.
            Wenn Sie uns elektronische Post an die auf diesen Internetseiten angegebenen E-Mailadressen zusenden, werden die in
            Ihrer Nachricht enthaltenen Daten in Abhängigkeit vom Zweck der Nachricht verarbeitet. Wir verwenden diese Daten
            ausschließlich für die Beantwortung Ihrer Anfrage und die damit verbundene Kommunikation.</p>
        <p>Die Rechtsgrundlage der Verarbeitung Ihrer Daten hängt vom Inhalt Ihrer Anfrage ab. Grundsätzlich gilt hier unser
            berechtigtes Interesse an der Bereitstellung der Kontaktfunktionalität und der Beantwortung Ihrer darüber übermittelten
            Anfrage. Wenn Ihre Anfrage auf den Abschluss eines Vertrages mit uns gerichtet ist, erfolgt die Verarbeitung im Rahmen
            dieses vorvertraglichen Schuldverhältnisses. Gegebenenfalls besteht auch eine gesetzliche Pflicht zur Speicherung. Ihre
            Daten werden in der Regel gelöscht, sobald Ihrer Anfrage abschließend bearbeitet wurde. Im Falle eines Vertragsschlusses
            verarbeiten wir die Daten ggf. zur Vertragserfüllung weiter.</p>
        <p><strong>3. Newsletter</strong></p>
        <p>Um sich für unseren Newsletter zu registrieren, müssen Sie lediglich Ihre E-Mail-Adresse angeben. Alle
            darüberhinausgehenden Angaben erfolgen freiwillig. Wir verwenden Ihre E-Mail-Adresse zunächst, um Ihre Anmeldung zu
            verifizieren, indem wir Ihnen eine Mail mit der Bitte um Bestätigung durch Betätigen eines Links senden. Erst wenn Sie
            dies getan haben, erfolgt der Versand des Newsletters. Weitere Daten werden dabei nicht erhoben. Ihre Anmeldung zum
            Newsletter können Sie jederzeit mit Wirkung für die Zukunft widerrufen, am einfachsten, indem Sie auf den entsprechenden
            Link zur Abbestellung im Newsletter klicken. Alternativ können Sie Ihren Widerruf auch an <a href="&#x6d;&#x61;&#105;&#x6c;&#x74;&#x6f;&#58;&#x44;&#x61;&#116;&#101;&#x6e;&#x73;&#99;&#104;&#117;&#116;&#122;&#64;&#108;&#97;&#109;&#x61;&#46;&#x69;&#109;&#109;&#x6f;">&#x44;&#x61;&#116;&#101;&#x6e;&#x73;&#99;&#104;&#117;&#116;&#122;&#64;&#108;&#97;&#109;&#x61;&#46;&#x69;&#109;&#109;&#x6f;</a>
            senden.</p>
        <p>Rechtsgrundlage der Verarbeitung ist Ihre Einwilligung. Wir verarbeiten Ihre Daten solange, bis diese Einwilligung
            widerrufen wird, spätestens aber zwei Jahre nach der letzten Zusendung.</p>
        <p><strong>V. Widerspruchs- und Beseitigungsmöglichkeit</strong></p>
        <p>Soweit die Datenverarbeitung auf Ihrer Einwilligung oder unserem berechtigten Interesse basiert, haben Sie jederzeit das
            Recht, der Verarbeitung zu widersprechen oder Ihre erteilte Einwilligung zu widerrufen. Ihr Widerspruch bzw. Widerruf
            hat lediglich Wirkung für die Zukunft. Sie können sich jederzeit zur Ausübung Ihres Widerspruchs- oder Widerrufsrechts
            an datenschutz@lohnio.de wenden. Wenn Sie einer Verarbeitung aufgrund unseres berechtigten Interesses widersprechen,
            dürfen wir die Verarbeitung dennoch fortführen, wenn wir zwingende schutzwürdige Gründe für die Verarbeitung nachweisen
            können, die Ihre Interessen, Rechte und Freiheiten überwiegen.</p>
        <p><strong>VI. Betroffenenrechte</strong></p>
        <p>Werden auf Ihre Person bezogene Daten verarbeitet, sind Sie Betroffener im Sinne von Art. 4 Abs. 1 DSGVO. Als
            Betroffenem stehen Ihnen in Bezug auf Ihre personenbezogenen Daten die nachfolgenden Rechte zu. Zur Ausübung dieser
            Rechte können Sie sich unter den oben angegebenen Kontaktdaten an uns wenden.</p>
        <p><strong>Recht auf Auskunft nach Art. 15 DSGVO</strong></p>
        <p>Sie haben ein Recht auf Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten. Dies umfasst die in Art. 15
            DSGVO dargestellten Pflichtinformationen.</p>
        <p><strong>Recht auf Berichtigung nach Art. 16 DSGVO</strong></p>
        <p>Sie haben das Recht, die unverzügliche Berichtigung falscher sowie die Vervollständigung unrichtiger personenbezogener
            Daten.</p>
        <p><strong>Recht auf Löschung nach Art. 17 DSGVO</strong></p>
        <p>Sie haben das Recht, die Löschung Ihrer personenbezogenen Daten zu verlangen, wenn einer der in Art. 17 DSGVO genannten
            Gründe eingreift, insbesondere, wenn keine Rechtsgrundlage mehr für die Verarbeitung vorliegt.</p>
        <p><strong>Recht auf Einschränkung der Verarbeitung nach Art. 18 DSGVO</strong></p>
        <p>Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, wenn einer der in
            Art. 18 DSGVO genannten Gründe eingreift, insbesondere auf Ihren Wunsch hin statt einer Löschung der Daten.</p>
        <p><strong>Recht auf Datenübertragbarkeit nach Art. 20 DSGVO</strong></p>
        <p>Sie haben das Recht, alle bei uns über Sie gespeicherten personenbezogenen Daten in einem strukturierten, gängigen und
            maschinenlesbaren Format heraus zu verlangen und diese Daten einem anderen Verantwortlichen ohne Behinderung durch den
            Verantwortlichen, dem die personenbezogenen Daten bereitgestellt wurden, zu übermitteln.</p>
        <p><strong>Recht auf Beschwerde bei der zuständigen Aufsichtsbehörde, Art. 77 DSGVO</strong></p>
        <p>Sie haben gemäß Art. 77 DSGVO das Recht, eine Beschwerde bei der für Sie zuständigen Aufsichtsbehörde einzureichen.</p>
        <p><strong>VII. Empfänger von Daten</strong></p>
        <p>Die Verarbeitung Ihrer personenbezogenen Daten im Rahmen der Website, erfolgt zum Teil auch durch Auftragsverarbeiter,
            insbesondere das Hosting der Website, der Versand der Newsletters sowie der Einsatz von Google Analytics. Diese werden
            ausschließlich auf der Grundlage einer Vereinbarung zu Auftragsvereinbarung nach Maßgabe von Art. 28 Abs. 3 DSGVO
            einbezogen.</p>
        <p><strong>VIII. Datenübermittlung in Drittländer</strong></p>
        <p>Die personenbezogenen Daten, die wir von Ihnen im Rahmen der Website erheben, werden nicht in Drittländer außerhalb des
            Europäischen Wirtschaftsraumes übermittelt</p>

    </article>
{% endblock %}
